* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif; }

h2, h3 {
  color: #003566;
  font-weight: 900; }

.headerBoostrap {
  display: none; }

.tAzul {
  text-align: center;
  color: #003566;
  margin: 1rem;
  font-size: 3rem; }

.headerComun {
  padding: 10px;
  border-bottom: 2px #0573F9 solid; }
  .headerComun .imgLogo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .headerComun .imgLogo .logo {
      width: 100%;
      min-width: 50px;
      max-width: 50px;
      justify-self: center; }
  .headerComun .navComun {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .headerComun .navComun .ulComun {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem;
      margin-bottom: 0; }
      .headerComun .navComun .ulComun .aComun {
        text-decoration: none;
        color: #0573F9;
        font-weight: bold; }
        .headerComun .navComun .ulComun .aComun .liComun {
          list-style: none;
          margin: 1rem;
          padding: 0.5rem;
          border-radius: 0.4rem; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px #0573F9 solid;
  padding: 1rem; }
  footer p {
    margin: auto 0; }
  footer a {
    padding: 0rem 2rem; }

.contenedor {
  max-width: 1200px;
  margin: 0rem  auto; }

.mainInicio {
  display: grid;
  grid-template-areas: "seccion1 seccion1" "seccion2 seccion2" "seccion3 seccion3"; }
  .mainInicio .seccion1 {
    grid-area: seccion1;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem; }
    .mainInicio .seccion1 .tiSeccion1 {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .mainInicio .seccion1 .tiSeccion1 .tSeccion1 {
        margin-bottom: 1rem;
        font-size: 4rem;
        color: #003566; }
        .mainInicio .seccion1 .tiSeccion1 .tSeccion1 span {
          display: block; }
      .mainInicio .seccion1 .tiSeccion1 .imgSeccion1 {
        display: block;
        width: 40%;
        max-width: 70%; }
    .mainInicio .seccion1 .pSeccion1 {
      font-size: 1.2rem; }
  .mainInicio .seccion2 {
    grid-area: seccion2;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem; }
    .mainInicio .seccion2 .tServicios {
      margin-bottom: 0.6rem; }
    .mainInicio .seccion2 .txtSeccion2 {
      margin-bottom: 1.5rem; }
    .mainInicio .seccion2 .padre {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .mainInicio .seccion2 .padre .cont1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        text-align: center;
        border: 0px;
        height: 100%;
        width: 20%;
        margin: 1rem;
        padding: 1rem; }
  .mainInicio .seccion3 {
    grid-area: seccion3;
    padding: 1rem 2rem; }
    .mainInicio .seccion3 .tContactanos {
      margin-bottom: 1rem; }
    .mainInicio .seccion3 .padreSeccion3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
      .mainInicio .seccion3 .padreSeccion3 .pContactanos {
        padding: 1rem; }
        .mainInicio .seccion3 .padreSeccion3 .pContactanos hr {
          margin-bottom: 0.5rem; }
      .mainInicio .seccion3 .padreSeccion3 .formulario {
        width: 100%;
        max-width: 600px;
        padding: 1rem; }
        .mainInicio .seccion3 .padreSeccion3 .formulario div {
          margin-bottom: 1rem; }
          .mainInicio .seccion3 .padreSeccion3 .formulario div .paddingInput {
            width: 100%;
            height: 2rem;
            padding: 1rem; }
          .mainInicio .seccion3 .padreSeccion3 .formulario div textarea {
            width: 100%;
            height: 2rem;
            min-height: 4rem;
            max-height: 6rem; }
          .mainInicio .seccion3 .padreSeccion3 .formulario div input {
            width: 100%; }

.mainServicios .tituloServicios {
  text-align: center;
  color: #003566;
  margin: 1rem;
  font-size: 3rem; }

.mainServicios .padreServicios .tipoServicio {
  display: flex;
  margin: 1rem 7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #0573F9 solid; }
  .mainServicios .padreServicios .tipoServicio .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 3rem;
    text-align: center;
    width: 70%; }
    .mainServicios .padreServicios .tipoServicio .texto .pServicio, .mainServicios .padreServicios .tipoServicio .texto .h2Servicio {
      padding-bottom: 1rem; }
    .mainServicios .padreServicios .tipoServicio .texto .botonServicio {
      margin: 0 auto; }
  .mainServicios .padreServicios .tipoServicio .ContenedorimgServicio {
    padding: 3rem; }
    .mainServicios .padreServicios .tipoServicio .ContenedorimgServicio .imgServicio {
      display: block;
      width: 100%;
      max-width: 30rem; }

.mainServicios .padreServicios .tipoServicio1 {
  display: flex;
  flex-direction: row-reverse;
  margin: 1rem 7rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #0573F9 solid; }
  .mainServicios .padreServicios .tipoServicio1 .texto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 3rem;
    text-align: center;
    width: 70%; }
    .mainServicios .padreServicios .tipoServicio1 .texto .pServicio, .mainServicios .padreServicios .tipoServicio1 .texto .h2Servicio {
      padding-bottom: 1rem; }
    .mainServicios .padreServicios .tipoServicio1 .texto .botonServicio {
      margin: 0 auto; }
  .mainServicios .padreServicios .tipoServicio1 .ContenedorimgServicio {
    padding: 3rem; }
    .mainServicios .padreServicios .tipoServicio1 .ContenedorimgServicio .imgServicio {
      display: block;
      width: 100%;
      max-width: 30rem; }

.mainServicios .padreServicios .ultimoServicio {
  border: none; }

.imgServicioMovil {
  display: none; }

.seccion3 .tContactanos {
  margin-bottom: 1rem; }

.seccion3 .padreSeccion3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .seccion3 .padreSeccion3 .pContactanos {
    padding: 1rem; }
    .seccion3 .padreSeccion3 .pContactanos hr {
      margin-bottom: 0.5rem; }
  .seccion3 .padreSeccion3 .formulario {
    width: 100%;
    max-width: 600px;
    padding: 1rem; }
    .seccion3 .padreSeccion3 .formulario div {
      margin-bottom: 1rem; }
      .seccion3 .padreSeccion3 .formulario div .paddingInput {
        width: 100%;
        height: 2rem;
        padding: 1rem; }
      .seccion3 .padreSeccion3 .formulario div textarea {
        width: 100%;
        height: 2rem;
        min-height: 4rem;
        max-height: 6rem; }
      .seccion3 .padreSeccion3 .formulario div input {
        width: 100%; }

.botonInicio, .botonContacto, .botonServicio {
  display: inline-flex;
  background-color: transparent;
  color: #003566;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  padding: 0.4rem;
  width: 70%;
  font-size: 0.9rem;
  border-radius: 0.5rem;
  border: 1px solid; }

.botonInicio:hover, .botonContacto:hover, .botonServicio:hover {
  background-color: #003566;
  color: white;
  transition: 0.5s; }
