@import "utilidades/variables";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

h2,h3{
    color: $colorSecundario;
    font-weight: 400;
}

p{
    font-size: 1.15rem;
}

.tituloPrincipal{
    text-align: center;
    color: $colorSecundario;
    margin: 1rem;
    font-size: 3rem;
}

span {
    display: block;
}