@import "utilidades/variables";
@import "breakpoints";
@import "contenedor";
@import "estilosGenerales";

.container{
    div{
        .tituloClientes{
            @extend .tituloPrincipal;
        }
    }
    .padreClientes{
        padding: 1.5rem;
        display: grid;
        justify-items: center;
        grid-template-columns:1fr;
        grid-gap:2rem;
        
        @include media-up(md){
            grid-template-columns:1fr 1fr;
        }

        @include media-up(lg){
            grid-template-columns:1fr 1fr 1fr;
        }
        .img{
            -webkit-box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.71);
            -moz-box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.71);
            box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.71);
        }
    }
}