@import "utilidades/variables";
@import "breakpoints";
@import "estilosGenerales";

.mainServicios {
    .tituloServicios {
        @extend .tituloPrincipal;
    }

    .padreServicios {
        display: grid;
        grid-template-areas: "1 1"
            "2 2"
            "3 3"
            "4 4"
            "5 5";
        justify-content: center;

        .servicio1 {
            grid-area: 1;
        }

        .servicio2 {
            grid-area: 2;
        }

        .servicio3 {
            grid-area: 3;
        }

        .servicio4 {
            grid-area: 4;
        }

        .servicio5 {
            grid-area: 5;
        }

        .tipoServicio {

            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px $colorPrincipal solid;


            @include media-up(md) {
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px $colorPrincipal solid;
            }

            @include media-up(lg) {
                display: flex;
                margin: 1rem 7rem;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px $colorPrincipal solid;
            }


            .texto {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 70%;
                align-items: center;


                @include media-up(md) {
                    text-align: center;
                    width: 70%;
                    align-items: center;
                }

                @include media-up(lg) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    padding: 3rem;
                }


                .imgServicioMovil {

                    display: block;
                    width: 100%;
                    max-width: 6rem;
                    padding-bottom: 1rem;


                    @include media-up(md) {
                        display: block;
                        max-width: 8rem;
                        width: 100%;
                        padding-bottom: 1rem;
                    }

                    @include media-up(lg) {
                        display: none;
                    }


                }

                .pServicio {

                    font-size: 1rem;

                }

                .pServicio,
                .h2Servicio {
                    padding-bottom: 1rem;
                }

                .botonServicio {
                    margin: 0 auto;
                }
            }

            .ContenedorimgServicio {
                display: none;

                @include media-up(md) {
                    display: none;
                }

                @include media-up(lg) {
                    display: block;
                }

                padding: 3rem;

                .imgServicio {
                    display: block;
                    width: 100%;
                    max-width: 30rem;
                }
            }
        }

        .tipoServicio1 {

            display: flex;
            justify-content: center;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px $colorPrincipal solid;


            @include media-up(md) {
                display: flex;
                justify-content: center;
                margin-bottom: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px $colorPrincipal solid;
            }

            @include media-up(lg) {
                display: flex;
                flex-direction: row-reverse;
                margin: 1rem 7rem;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1px $colorPrincipal solid;
            }


            .texto {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: 70%;
                align-items: center;


                @include media-up(md) {
                    text-align: center;
                    width: 70%;
                    align-items: center;
                }

                @include media-up(lg) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: 1.2rem;
                    padding: 3rem;
                }


                .imgServicioMovil {

                    display: block;
                    width: 100%;
                    max-width: 6rem;
                    padding-bottom: 1rem;


                    @include media-up(md) {
                        display: block;
                        max-width: 8rem;
                        width: 100%;
                        padding-bottom: 1rem;
                    }

                    @include media-up(lg) {
                        display: none;
                    }


                }

                .pServicio {

                    font-size: 1rem;

                }

                .pServicio,
                .h2Servicio {
                    padding-bottom: 1rem;
                }

                .botonServicio {
                    margin: 0 auto;
                }
            }

            .ContenedorimgServicio {
                display: none;

                @include media-up(md) {
                    display: none;
                }

                @include media-up(lg) {
                    display: block;
                }

                padding: 3rem;

                .imgServicio {
                    display: block;
                    width: 100%;
                    max-width: 30rem;
                }
            }
        }

        .ultimoServicio {
            border: none;
        }
    }
}